# Pandas Tutorial Day 14

We will see how memory management can be done when dealing with large datasets.

[Video Link](https://www.youtube.com/watch?v=HNE0qHJ9A9o&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy&index=15)

In [2]:
import pandas as pd

df = pd.read_csv('aapl.csv', usecols = ['Date', 'Open'])
df

          Date    Open
0     7-Jul-17  142.90
1     6-Jul-17  143.02
2     5-Jul-17  143.69
3     3-Jul-17  144.88
4    30-Jun-17  144.45
..         ...     ...
246  15-Jul-16   98.92
247  14-Jul-16   97.39
248  13-Jul-16   97.41
249  12-Jul-16   97.17
250  11-Jul-16   96.75

[251 rows x 2 columns]