# Pandas Tutorial Day 6

In [28]:
import pandas as pd
import numpy as np

We will see how we can replace certain values that are not useful for us

In [29]:
df = pd.read_csv('weather_data.csv')
# replacing -99999 with NaN
# new_df = df.replace([-99999, -88888], np.nan)

# if we want to replace values based on specific columns, we can use a dictionary
# new_df = df.replace({
#     'temperature': -99999,
#     'windspeed' : -99999,
#     'event' : '0'
# }, np.nan)

# if we want to create a mapping to replace each entry with something else no matter the column, we can use a dictionary
new_df = df.replace({
    -99999 : np.nan,
    "0" : "Sunny"
})
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

Now if our data has some unneccesarry text along with the data in the same cell (eg. 32F, 45C, for temperatures), we can use regular expressions to deal with those values and remove them

In [30]:
new_df = df.replace({
    'temperature': '[A-Za-z]',
    'windspeed':'[A-Za-z]'}, "", regex=True)

new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

Now we'll see how to replace a list of values with another list of values

In [45]:
df = pd.DataFrame({
    'score' : ['exceptional', 'average','good','poor','average','exceptional'],
    'student' : ['rob', 'maya','pativ', 'tom','julian','erica']
})
num = [4,2,3,1]

# replacing score list with numerical values
df = df.replace(list(set(df['score'])), [4,2,3,1])

df

/var/folders/db/0zp0vw5575s9zljspc8nvczc0000gn/T/ipykernel_92875/1773156323.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(list(set(df['score'])), [4,2,3,1])

   score student
0      4     rob
1      2    maya
2      3   pativ
3      1     tom
4      2  julian
5      4   erica