# Pandas Tutorial Day 1

## Setting-up Pandas
With your VSCode already configured with your preferred version of Python, follow the theps below to set-up Pandas library.
1. Open your terminal and write the following command to install Pandas (if you prefer you can use a virtual environment as well, so you won't have to install the modules in your global environment). This will install the latets dependencies and packages
`python3`: To start the python environment
`pip install pandas`: To install pandas
2. To check if Pandas was successfully installed, run the following commands:
`python3`: To start the python environment
`import pandas as pd`: To import pandas under the alias pd
`pd.__version__`: To check the version. If you see something like `'2.2.3'`, then we're good.
3. Install the `Jupyter` notebook extension in VSCode
4. Setup the kernel to be used by locating the python folder and setting it as your interpreter
5. Voila! we're all set!

## Data Science
It is a branch of computer science where we study how to store, use and analyze data for deriving information from it.

## What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

## Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

## What Can Pandas Do?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?
What is average value?
Max value?
Min value?
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

## Dataframes and loading data
Dataframes are basically structures that store your data in the same form as we see in an excel sheet.
We will now see how to create dataframes and load data in them.
database.csv

In [5]:
import pandas as pd

## creating a dataframe
df = pd.read_csv('database.csv')
df

   ID    Name   Surname  Score  Age
0   1    Ajay     Singh     22   26
1   2  Ramesh     Kumar     37   22
2   3    Kris   Grusing     50   31
3   4    Alto       Pat     72   30
4   5   Tenny  Jennings     10   28

Now we want to know some basic statistics about our data like the minimum and maximum age or score, average score and the standard deviation in age. We can do that conveniently with pandas.

In [15]:
# minimum and maximum age
print(df['Age'].min())
print(df['Age'].max())

# finding Name of all people whose age is >25
print(df['Name'][df['Age']>25])

# average score of dataset
print(df['Score'].mean())

22
31
0     Ajay
2     Kris
3     Alto
4    Tenny
Name: Name, dtype: object
38.2

For numeric data values that are missing, we can replace them with 0 using the following:

In [20]:
# this fills the empty numerical values with 0 in the same dataset
df['Score'].fillna(0, inplace = True)
print(df)

   ID    Name   Surname  Score  Age
0   1    Ajay     Singh     22   26
1   2  Ramesh     Kumar     37   22
2   3    Kris   Grusing     50   31
3   4    Alto       Pat     72   30
4   5   Tenny  Jennings     10   28

/var/folders/db/0zp0vw5575s9zljspc8nvczc0000gn/T/ipykernel_70081/2405500986.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(0, inplace = True)

## Extra
- Terminal commands to create multiple directories and subdirectories.
- Pandas Documentation: https://pandas.pydata.org/docs/

In [ ]:
mkdir -p Day{1..15} && touch Day{1..15}/notes.ipynb

touch Day{1..15}/main.ipynb