# Pandas Tutorial Day 5

In [37]:
import pandas as pd

## How to handle missing data in dataframes
1. `fillna` to fill missing values using different ways
2. interpolate to make a guess on missing values using interpolation
3. `dropna` to drop rows with missing values

## `fillna` method

In [68]:
df = pd.read_csv("weather_data.csv", parse_dates = ['day'])
df = df.set_index('day')
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [69]:
# filling na vlaues with certain values for each column
# df_new = df.fillna({
#     'temperature' : 0,
#     'windspeed' : 0,
#     'event' : 'no event'
# })
# df_new

In [70]:
# filling na values with the values around that cell in the same column
# df_new = df.ffill() # filling the value above the empty cell
# df_new = df.bfill() # filling the value below the empty cell

# we can specify the direction of filling using the axis command
df_new = df.bfill(axis = 1)

# if we want to carry a value only certain number of time, we can use limit parameter
df_new = df.bfill(limit = 1)

df_new

/var/folders/db/0zp0vw5575s9zljspc8nvczc0000gn/T/ipykernel_92197/509705751.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new = df.bfill(axis = 1)

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        9.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09         34.0        8.0  Cloudy
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

## Interpolation
Now, if we want to interpolate between values so that they are realistic

In [73]:
# df_new = df.interpolate()
# df_new

# if we want to give higher weightage to a certain part during interpolation, we can use `method = time` parameter
df_new = df.interpolate(method = "time")
df_new

/var/folders/db/0zp0vw5575s9zljspc8nvczc0000gn/T/ipykernel_92197/2483364582.py:5: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_new = df.interpolate(method = "time")

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

## `dropna()`

In [79]:
# if we want to drop all the rows with na values
# df_new = df.dropna(how = "all")

# if we want to drop rows where number of na is greater than thresh
df_new = df.dropna(thresh=1)

# how to insert missing dates
dt = pd.date_range("01-01-2017", "01-11-2017")
idx = pd.DatetimeIndex(dt)
df_new = df.reindex(idx)
df_new

            temperature  windspeed   event
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        NaN     NaN
2017-01-03          NaN        NaN     NaN
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny