# Pandas Tutorial Day 3

We will look at different ways to create pandas dataframes. We will look at the following methods:
1. Using CSV and Excel
2. From python dictionary
3. From list of tuples
4. From list of dictionaries

In [ ]:
import pandas as pd

## Using CSV and Excel

In [ ]:
df = pd.read_csv('database.csv')
df

# similarly, we can have a .xlsx file and we can create a dataframe using the following:
# df_excel = pd.read_excel('file.xlsx', 'Sheet1')

## Using Python Dcitionary

In [ ]:
dataDict = {
    'ID':['1', '2', '3', '4', '5'],
    'Name':['Ajay', 'Ramesh', 'Kris', 'Alto', 'Tenny'],
    'Surname': ['Singh', 'Kumar', 'Grusing', 'Pat', 'Jennings'],
    'Score': [22, 37, 50, 72, 10],
    'Age':[26, 22, 31, 30, 28]
}
df = pd.DataFrame(dataDict)
df

## From List of Tuples

In [ ]:
dataTup = [
    ('1', '2', '3', '4', '5'),
    ('Ajay', 'Ramesh', 'Kris', 'Alto', 'Tenny'),
    ('Singh', 'Kumar', 'Grusing', 'Pat', 'Jennings'),
    (22, 37, 50, 72, 10),
    (26, 22, 31, 30, 28)
]
df = pd.DataFrame(dataTup, columns=['ID', 'Name', 'Surname', 'Score', 'Age'])

lis = []
for cols in df.columns:
    lis.append(df[cols])

liss = []
for i in range(len(lis)):
    liss.append(tuple(lis[i]))

df = pd.DataFrame(liss, columns=[['ID', 'Name', 'Surname', 'Score', 'Age']])
df

## From List of Dictionaries

In [ ]:


dataDicts = [
    {'ID': 1, 'Name': "Ajay", 'Surname':"Singh", 'Score': 22, 'Age': 26},
    {'ID': 2, 'Name': "Ramesh", 'Surname':"Kumar", 'Score': 37, 'Age': 22},
    {'ID': 3, 'Name': "Kris", 'Surname':"Grusing", 'Score': 50, 'Age': 31},
    {'ID': 4, 'Name': "Alto", 'Surname':"Pat", 'Score': 72, 'Age': 30},
    {'ID': 5, 'Name': "Tenny", 'Surname':"Jennings", 'Score': 10, 'Age': 28},
]

df = pd.DataFrame(dataDicts)
df